aiofiles==0.7.0
aiohttp==3.7.4.post0
aiomysql==0.0.21
bcrypt==3.2.0
cmyui==1.8.0
colored==1.4.2
multidict==5.1.0
numpy==1.20.3
oppai==4.1.0
orjson==3.5.3
py3rijndael==0.3.3
python-multipart==0.0.5
starlette==0.14.2
uvicorn==0.14.0
